body{background-color: #eee;margin-bottom: 100px;}
#con{position: fixed;z-index: 5;width: 100%;height: 100%;display: none;}
/*手机端样式*/
@media screen and (min-width: 300px) and (max-width: 750px){
	/*返回信息开始*/
	.return{width: 100%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;position: relative;z-index: 10;overflow: hidden;}
	.return a.re-left{display: inline-block;height: 1em;position: absolute;z-index: 15;left: 5%;top: 1.2em;}
	.return a.re-right{display: inline-block;float: right;font-size: 1em;color: #666;margin-right: 1em;}
	.return a img{height: 100%;width: auto;}
	.return span{font-size: 1em;color: #666;letter-spacing: 2px;display: inline-block;position: absolute;left: 50%;z-index: 15;top: 50%;margin-left: -18px;margin-top: -8px;}
	/*热门*/
	.hot{width: 100%;font-size: 16px;background-color: #fff;height: 2.9em;margin-bottom: 10px;position: relative;z-index: 10;}
	.hot .hotcon{width: 33%;float: left;line-height: 2.5em;margin-top: 0.2em;margin-bottom: 0.2em;text-align: center;}
	.hot .h-right{border-right: 1px solid #ccc;}
	.hot .hotcon a{font-size: 1em;color: #666;letter-spacing: 2px;display: inline-block;width: 100%;height: 100%;}
	.hot .hotcon a i{display: inline-block;width: 0.7em;margin-left: 4px;}
	.hot .hotcon a i > img{width: 100%;height: auto;vertical-align: middle;}
	.hot .hotmore{position: absolute;z-index: 20;width: 100%;top: 47px;left: 0;background-color: #fff;}
	.hot .hotmore .hotmore1{width: 100%;display: none;}
	.hot .hotmore .hotmore2{width: 100%;display: none;}
	.hot .hotmore .hotmore3{width: 90%;display: none;font-size: 0.8em;padding: 1em 5%;margin-bottom: 50px;}
	.hot .hotmore .hotmore3 .hotmore3-content{margin-bottom: 1em;}
	.hot .hotmore .hotmore3 p{color: #666;margin-bottom: 1em;}
	.hot .hotmore .hotmore3 a{color: #666;display: inline-block;padding: 0.2em 0.5em;margin-right: 2em;border: 1px solid #00ccff;margin-bottom: 0.5em;}
	.hot .hotmore .hotmore3 a:active{color: #fff;background-color: #00ccff}
	.hot .hotmore .hotmore1 a, .hot .hotmore .hotmore2 a{display: block;text-align: center;font-size: 1em;color: #666;padding-top: 0.5em;padding-bottom: 0.5em;}
	.hot .hotmore .hotmore1 a:active, .hot .hotmore .hotmore2 a:active{background-color: #00ccff;color: #fff;}
	/*详细内容*/
	.details{width: 100%;overflow: hidden;font-size: 16px;}
	.details li{margin-bottom: 1px;width: 96%;padding-left: 2%;padding-right: 2%;overflow: hidden;background-color: #fff;padding-top: 0.2em;float: left;padding-top: 0.4em;padding-bottom: 0.4em;}
	.details li > a{display: inline-block;width: 30%;float: left;}
	.details li > a img{width: 100%;height: auto;}
	.details li .de-content{width: 68%;float: left;padding-left:2%;}
	.details li .de-content p.de-p1{overflow: hidden;}
	.details li .de-content p.de-p1 a.de-a1{float: left;display: inline-block;color: #333;font-size: 1em;width: 60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-right: 10%;}
	.details li .de-content p.de-p1 a.de-a2{float: right;display: inline-block;color: #333;font-size: 1em;width: 30%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.details li .de-content p.de-p2 a{display: inline-block;color: #666;font-size: 0.8em;}
	.details li .de-content p.de-p2 a.de-a3{margin-right: 10%;display: inline-block;width: 40%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.details li .de-content p.de-p2 a.de-a5{display: inline-block;width: 30%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.details li .de-content p.de-p2 a.de-a4{display: inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	/*底部信息*/
	.footer{width: 100%;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 0;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	body{position: relative;z-index: 0;}
	.m-login{width: 80%;position: absolute;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: absolute;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
}
@media screen and (min-width: 750px){
	.container{margin:0 auto;width: 750px;}
	/*返回信息开始*/
	.return{width: 100%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;position: relative;z-index: 10;overflow: hidden;}
	.return a.re-left{display: inline-block;height: 1em;position: absolute;z-index: 15;left: 5%;top: 1.2em;}
	.return a.re-right{display: inline-block;float: right;font-size: 1em;color: #666;margin-right: 1em;}
	.return a img{height: 100%;width: auto;}
	.return span{font-size: 1em;color: #666;letter-spacing: 2px;display: inline-block;position: absolute;left: 50%;z-index: 15;top: 50%;margin-left: -18px;margin-top: -8px;}
	/*热门*/
	.hot{width: 100%;font-size: 16px;background-color: #fff;height: 2.9em;margin-bottom: 10px;position: relative;z-index: 10;}
	.hot .hotcon{width: 33%;float: left;line-height: 2.5em;margin-top: 0.2em;margin-bottom: 0.2em;text-align: center;}
	.hot .h-right{border-right: 1px solid #ccc;}
	.hot .hotcon a{font-size: 1em;color: #666;letter-spacing: 2px;display: inline-block;width: 100%;height: 100%;}
	.hot .hotcon a i{display: inline-block;width: 0.7em;margin-left: 4px;}
	.hot .hotcon a i > img{width: 100%;height: auto;vertical-align: middle;}
	.hot .hotmore{position: absolute;z-index: 20;width: 100%;top: 47px;left: 0;background-color: #fff;}
	.hot .hotmore .hotmore1{width: 100%;display: none;}
	.hot .hotmore .hotmore2{width: 100%;display: none;}
	.hot .hotmore .hotmore3{width: 90%;display: none;font-size: 0.8em;padding: 1em 5%;margin-bottom: 50px;}
	.hot .hotmore .hotmore3 .hotmore3-content{margin-bottom: 1em;}
	.hot .hotmore .hotmore3 p{color: #666;margin-bottom: 1em;}
	.hot .hotmore .hotmore3 a{color: #666;display: inline-block;padding: 0.2em 0.5em;margin-right: 2em;border: 1px solid #00ccff;margin-bottom: 0.5em;}
	.hot .hotmore .hotmore3 a:active{color: #fff;background-color: #00ccff}
	.hot .hotmore .hotmore1 a, .hot .hotmore .hotmore2 a{display: block;text-align: center;font-size: 1em;color: #666;padding-top: 0.5em;padding-bottom: 0.5em;}
	.hot .hotmore .hotmore1 a:active, .hot .hotmore .hotmore2 a:active{background-color: #00ccff;color: #fff;}
	/*详细内容*/
	.details{width: 100%;overflow: hidden;font-size: 16px;}
	.details li{margin-bottom: 1px;width: 96%;padding-left: 2%;padding-right: 2%;overflow: hidden;background-color: #fff;padding-top: 0.2em;float: left;padding-top: 0.4em;padding-bottom: 0.4em;}
	.details li > a{display: inline-block;width: 30%;float: left;}
	.details li > a img{width: 100%;height: auto;}
	.details li .de-content{width: 68%;float: left;padding-left:2%;}
	.details li .de-content p.de-p1{overflow: hidden;}
	.details li .de-content p.de-p1 a.de-a1{float: left;display: inline-block;color: #333;font-size: 1em;width: 60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-right: 10%;}
	.details li .de-content p.de-p1 a.de-a2{float: right;display: inline-block;color: #333;font-size: 1em;width: 30%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.details li .de-content p.de-p2 a{display: inline-block;color: #666;font-size: 0.8em;}
	.details li .de-content p.de-p2 a.de-a3{margin-right: 10%;display: inline-block;width: 40%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.details li .de-content p.de-p2 a.de-a5{display: inline-block;width: 30%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.details li .de-content p.de-p2 a.de-a4{display: inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	/*底部信息*/
	.footer{width: 750px;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 50%;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;margin-left: -375px;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	body{position: relative;z-index: 0;}
	.m-login{width: 80%;position: absolute;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: absolute;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
}