body{margin-bottom: 70px;}
input[type='text'], textarea, input[type='submit'] {-webkit-appearance: none;border-radius: 0px;}
/*手机端样式*/
@media screen and (min-width: 300px) and (max-width: 750px){
	/*返回信息开始*/
	.return{width: 100%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;text-align: center;line-height: 1em;background-color: #fff;}
	.return span{clear: left;font-size: 1em;color: #666;letter-spacing: 2px;}
	/*警务管理系统*/
	.manage{width: 100%;padding-top: 0.8em;font-size: 16px;padding-bottom: 0.8em;overflow: hidden;background-color: #eee;margin-bottom: 0.5em;}
	.manage li{float: left;width: 33%;text-align: center;font-size: 1em;}
	.manage li a{color: #666;display: inline-block;width: 100%;height: 100%;letter-spacing: 1px;}
	.manage li a:active{color: #0099ff;}
	/*社区信息*/
	.community{width: 90%;margin-left: 5%;margin-right: 5%;font-size: 16px;border-bottom: 1px solid #ccc;margin-bottom: 1em;}
	.community p, .manage2 p{overflow: hidden;width: 100%;margin-bottom: 0.4em;}
	.community p span, .manage2 p label{width: 30%;font-size:1em;color: #333;float: left;display: inline-block;color: #333;}
	.community p a{width: 70%;font-size:1em;color: #333;float: left;display: inline-block;overflow: hidden;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
	/*信息填写*/
	.manage2, .manage3{width: 90%;font-size: 16px;margin-left: 5%;margin-right: 5%;overflow: hidden;}
	.manage2 .ma-input1{display: inline-block;width: 48%;float: left;height: 1.5em;line-height: 1.5em;font-size: 0.8em;color: #000;border: 1px solid #ccc;padding-left: 2%;}
	.manage2 textarea{display: inline-block;width:66%;font-size: 0.8em;height: 6em;border:1px solid #ccc;color: #333;padding-left: 2%;font-size: 0.8em;color: #333;padding-top: 0.2em;}
	.manage2 p > .upload{display: inline-block;font-size: 1em;padding: 3em 0.5em;color: #f9f9f9;background-color: #ccc;}
	.manage2{padding-bottom: 2em;border-bottom:1px solid #ccc;margin-bottom: 2em;}
	/*人口管理*/
	.manage3 p label{width: 30%;float: left;display: inline-block;}
	.manage3 p{overflow: hidden;margin-bottom: 0.5em;}
	.manage3 p input{display: inline-block;width: 60%;float: left;height: 1.5em;line-height: 1.5em;font-size: 1em;color: #333;padding-left: 2%;height: 1.5em;line-height: 1.5em;border: none;}
	/*底部信息*/
	.footer{width: 100%;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 0;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px -2px 0.25em #f5f5f5;-webkit-box-shadow: 0px -2px 0.25em #f5f5f5;box-shadow: 0px -2px 0.25em #f5f5f5;}
	.footer p{display: inline-block;float: left;width: 50%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
}
@media screen and (min-width: 750px){
	.container{margin:0 auto;width: 750px;}	
	/*返回信息开始*/
	.return{width: 95%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;padding-left: 5%;text-align: center;line-height: 1em;background-color: #fff;}
	.return span{clear: left;font-size: 1.2em;color: #666;clear: left;letter-spacing: 2px;}
	/*警务管理系统*/
	.manage{width: 100%;padding-top: 0.8em;font-size: 16px;padding-bottom: 0.8em;overflow: hidden;background-color: #eee;margin-bottom: 0.5em;}
	.manage li{float: left;width: 33%;text-align: center;font-size: 1em;}
	.manage li a{color: #666;display: inline-block;width: 100%;height: 100%;letter-spacing: 1px;}
	.manage li a:active{color: #0099ff;}
	/*社区信息*/
	.community{width: 90%;margin-left: 5%;margin-right: 5%;font-size: 16px;border-bottom: 1px solid #ccc;margin-bottom: 1em;}
	.community p, .manage2 p{overflow: hidden;width: 100%;margin-bottom: 0.4em;}
	.community p span, .manage2 p label{width: 30%;font-size:1em;color: #333;float: left;display: inline-block;color: #333;}
	.community p a{width: 70%;font-size:1em;color: #333;float: left;display: inline-block;overflow: hidden;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
	/*信息填写*/
	.manage2, .manage3{width: 90%;font-size: 16px;margin-left: 5%;margin-right: 5%;overflow: hidden;}
	.manage2 .ma-input1{display: inline-block;width: 48%;float: left;height: 1.5em;line-height: 1.5em;font-size: 0.8em;color: #000;border: 1px solid #ccc;padding-left: 2%;}
	.manage2 textarea{display: inline-block;width:66%;font-size: 0.8em;height: 6em;border:1px solid #ccc;color: #333;padding-left: 2%;font-size: 0.8em;color: #333;padding-top: 0.2em;}
	.manage2 p > .upload{display: inline-block;font-size: 1em;padding: 3em 0.5em;color: #f9f9f9;background-color: #ccc;}
	.manage2{padding-bottom: 2em;border-bottom:1px solid #ccc;margin-bottom: 2em;}
	/*人口管理*/
	.manage3 p label{width: 30%;float: left;display: inline-block;}
	.manage3 p{overflow: hidden;margin-bottom: 0.5em;}
	.manage3 p input{display: inline-block;width: 60%;float: left;height: 1.5em;line-height: 1.5em;font-size: 1em;color: #333;padding-left: 2%;height: 1.5em;line-height: 1.5em;border: none;}
	/*底部信息*/
	.footer{width: 750px;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 50%;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;margin-left: -375px;}
	.footer p{display: inline-block;float: left;width: 50%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
}