body{margin-bottom: 70px;}
input[type='text'], input[type='radio'], textarea, input[type='submit'] {-webkit-appearance: none;}
/*手机端样式*/
@media screen and (min-width: 300px) and (max-width: 750px){
	/*返回信息开始*/
	.return{width: 95%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;padding-left: 5%;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;margin-bottom: 2em;}
	.return a{display: inline-block;height: 1.2em;float: left;}
	.return a img{height: 100%;width: auto;}
	.return span{clear: left;font-size: 1em;color: #666;clear: left;letter-spacing: 2px;}
	/*留言板*/
	.message{width: 90%;font-size: 16px;padding-left: 5%;padding-right: 5%;}
	.message p label{font-size: 1em;color: #666;display: inline-block;margin-bottom: 0.3em;}
	.message p input{display: inline-block;margin-bottom: 1em;border:1px solid #ccc;}
	.message p input.me-input{width: 86%;margin-right: 5%;margin-left: 5%;height: 1.5em;line-height: 1.5em;color: #666;font-size: 0.8em;padding-left: 2%;padding-top: 0.2em;padding-bottom: 0.2em;}
	.message p.me-p1 textarea{width: 86%;margin-right: 5%;margin-left: 5%;height: 8em;color: #666;font-size: 0.8em;padding-left: 2%;padding-top: 0.2em;padding-bottom: 0.2em;border: 1px solid #ccc;}
	.message p.me-p2{padding-left: 5%;padding-right: 5%;width: 90%;margin-bottom: 3em;}
	.message p.me-p2 .me-a1{display: inline-block;width: 30%;margin-right: 1em;}
	.message p.me-p2 .me-a1 img{width: 100%;height: auto;vertical-align: middle;}
	.message p.me-p2 .me-a2{font-size: 0.6em;color: #66ccf9;display: inline-block;}
	.message p.me-p3{width: 100%;}
	.message p.me-p3 input{width: 30%;display: inline-block;margin-left: 35%;margin-right: 35%;height: 2em;line-height: 2em;font-size: 1em;text-align: center;color: #fff;background-color: #00ccff;border: none;letter-spacing: 2px;}
	/*底部信息*/
	.footer{width: 100%;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 0;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	body{position: relative;z-index: 0;}
	.m-login{width: 80%;position: absolute;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: absolute;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
}
@media screen and (min-width: 750px){
	.container{margin:0 auto;width: 750px;}	
	/*返回信息开始*/
	.return{width: 95%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;padding-left: 5%;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;margin-bottom: 2em;}
	.return a{display: inline-block;height: 1.2em;float: left;}
	.return a img{height: 100%;width: auto;}
	.return span{clear: left;font-size: 1.2em;color: #666;clear: left;letter-spacing: 2px;}
	/*留言板*/
	.message{width: 90%;font-size: 16px;padding-left: 5%;padding-right: 5%;}
	.message p label{font-size: 1em;color: #666;display: inline-block;margin-bottom: 0.3em;}
	.message p input{display: inline-block;margin-bottom: 1em;border:1px solid #ccc;}
	.message p input.me-input{width: 86%;margin-right: 5%;margin-left: 5%;height: 1.5em;line-height: 1.5em;color: #666;font-size: 0.8em;padding-left: 2%;padding-top: 0.2em;padding-bottom: 0.2em;}
	.message p.me-p1 input{width: 86%;margin-right: 5%;margin-left: 5%;height: 8em;color: #666;font-size: 0.8em;padding-left: 2%;padding-top: 0.2em;padding-bottom: 0.2em;}
	.message p.me-p2{padding-left: 5%;padding-right: 5%;width: 90%;margin-bottom: 3em;}
	.message p.me-p2 .me-a1{display: inline-block;width: 30%;margin-right: 1em;}
	.message p.me-p2 .me-a1 img{width: 100%;height: auto;vertical-align: middle;}
	.message p.me-p2 .me-a2{font-size: 0.6em;color: #66ccf9;display: inline-block;}
	.message p.me-p3{width: 100%;}
	.message p.me-p3 input{width: 30%;display: inline-block;margin-left: 35%;margin-right: 35%;height: 2em;line-height: 2em;font-size: 1em;text-align: center;color: #fff;background-color: #00ccff;border: none;letter-spacing: 2px;}
	/*底部信息*/
	.footer{width: 750px;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 50%;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;margin-left: -375px;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	body{position: relative;z-index: 0;}
	.m-login{width: 80%;position: absolute;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: absolute;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
}