body{margin-bottom: 70px;}
#pu-li1{height: 94px;}
input[type='text'], textarea, input[type='submit'] {-webkit-appearance: none;border-radius: 0px;}
/*手机端样式*/
@media screen and (min-width: 300px) and (max-width: 750px){
	body{margin-bottom: 100px;}
	/*返回信息开始*/
	.return{width: 95%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;padding-left: 5%;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;margin-bottom: 0.5em;}
	.return a{display: inline-block;height: 1em;float: left;}
	.return a img{height: 100%;width: auto;}
	.return span{clear: left;font-size: 1em;color: #666;clear: left;letter-spacing: 2px;}
	/*发布招租*/
	.release{width: 94%;height: auto;font-size: 16px;padding-left: 3%;padding-right: 3%;}
	.release li{width: 100%;font-size: 1em;color: #333;margin-bottom: 0.5em;overflow: hidden;height: 26px;line-height: 26px;}
	.release li label{display: inline-block;width: 30%;font-size: 1em;color: #333;text-align: right;float: left;}
	.release li .input1{display: inline-block;width:66%;font-size: 0.8em;height: 1.5em;line-height: 1.5em;border:1px solid #ccc;color: #333;padding-left: 2%;}
	.release li b{display: inline-block;width: 5%;height: 2px;background-color: #999;vertical-align: middle;}
	.release li .input2{display: inline-block;vertical-align: middle;}
	.release li .input3{display: inline-block;width:18%;font-size: 0.8em;height: 1.5em;line-height: 1.5em;border:1px solid #ccc;color: #333;padding-left: 2%;}
	.release li .input4{display: inline-block;width:8%;font-size: 0.8em;height: 1.5em;line-height: 1.5em;border:1px solid #ccc;color: #333;padding-left: 2%;}
	.release li span{font-size: 0.3em;color: #ccc;}
	.release li .input5{display: inline-block;opacity: 0;}
	.input-text{display: inline-block;width:66%;font-size: 0.8em;height: 6em;border:1px solid #ccc;color: #333;padding-left: 2%;font-size: 0.8em;color: #333;padding-top: 0.2em;}
	.release li.p-li1{position: relative;z-index: 10;height: 1.2em;}
	.release li.p-li1 a{position: absolute;z-index: 20;width: 20%;text-align: center;left: 30%;top: 0;color: #808080;font-size: 0.8em;border: 1px solid #ccc;height: 1em;display: inline-block;height: 1em;}
	.release li.p-li2{width: 90%;padding-left: 5%;padding-right: 5%;overflow: hidden;margin-bottom: 1em;}
	.release li.p-li2 label{width: 24%;display: inline-block;float: left;font-size: 1em;color: #666;text-align: right;}
	.release li.p-li2 input{width: 71%;display: inline-block;float: left;border: 1px solid #ccc;font-size: 0.8em;height: 1.5em;padding-left: 2%;color: #333;}
	.release li.p-li2 .p-li2-content{width: 73%;float: left;overflow: hidden;border: 1px solid #ccc;}
	.release li.p-li2 .p-li2-content .input6{width: 58%;display: inline-block;float: left;border: none;font-size: 0.8em;height: 1.5em;padding-left: 2%;color: #333;line-height: 1.5em;}
	.release li.p-li2 .p-li2-content .p-a{float: left;width: 40%;display: inline-block;height: 1.5em;background-color: #ccc;line-height: 1.5em;font-size: 0.8em;color: #333;text-align: center;}
	.release li.p-li3{padding-left: 30%;padding-right: 30%;width: 40%;}
	.release li.p-li3 input{display: inline-block;width: 100%;height: 2em;line-height: 2em;color: #fff;background-color: #33ccff;border:none;letter-spacing: 1px;overflow: hidden;}
	.release li.p-li4{height: 3em;}
	.release li.p-li4 span{font-size: 0.8em;color: #666;}
	.release li.p-li4 label{display: inline-block;height: 3em;}
	.release li.p-li2 input::-webkit-input-placeholder{color: #ccc;}
	.release li.p-li2 input::-moz-placeholder{color: #ccc;}                  
	.release li.p-li2 input::-moz-placeholder{color: #ccc;}                
	.release li.p-li2 input::-ms-input-placeholder{color: #ccc;} 
	.release li.re-bottom{margin-bottom: 1em;}
	/*底部信息*/
	.footer{width: 100%;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 0;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	body{position: relative;z-index: 0;}
	.m-login{width: 80%;position: absolute;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: absolute;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
}
@media screen and (min-width: 750px){
	.container{margin:0 auto;width: 750px;}	
	/*返回信息开始*/
	.return{width: 95%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;padding-left: 5%;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;margin-bottom: 0.5em;}
	.return a{display: inline-block;height: 1em;float: left;}
	.return a img{height: 100%;width: auto;}
	.return span{clear: left;font-size: 1em;color: #666;clear: left;letter-spacing: 2px;}
	/*发布招租*/
	.release{width: 94%;height: auto;font-size: 16px;padding-left: 3%;padding-right: 3%;}
	.release li{width: 100%;font-size: 1em;color: #333;margin-bottom: 0.5em;overflow: hidden;height: 26px;line-height: 26px;}
	.release li label{display: inline-block;width: 30%;font-size: 1em;color: #333;text-align: right;float: left;}
	.release li .input1{display: inline-block;width:66%;font-size: 0.8em;height: 1.5em;line-height: 1.5em;border:1px solid #ccc;color: #333;padding-left: 2%;}
	.release li b{display: inline-block;width: 5%;height: 2px;background-color: #999;vertical-align: middle;}
	.release li .input2{display: inline-block;vertical-align: middle;}
	.release li .input3{display: inline-block;width:18%;font-size: 0.8em;height: 1.5em;line-height: 1.5em;border:1px solid #ccc;color: #333;padding-left: 2%;}
	.release li .input4{display: inline-block;width:8%;font-size: 0.8em;height: 1.5em;line-height: 1.5em;border:1px solid #ccc;color: #333;padding-left: 2%;}
	.release li span{font-size: 0.3em;color: #ccc;}
	.release li .input5{display: inline-block;opacity: 0;}
	.input-text{display: inline-block;width:66%;font-size: 0.8em;height: 7em;border:1px solid #ccc;color: #333;padding-left: 2%;font-size: 0.8em;color: #333;}
	.release li.p-li1{position: relative;z-index: 10;height: 1.2em;}
	.release li.p-li1 a{position: absolute;z-index: 20;width: 20%;text-align: center;left: 30%;top: 0;color: #808080;font-size: 0.8em;border: 1px solid #ccc;height: 1em;display: inline-block;height: 1em;}
	.release li.p-li2{width: 90%;padding-left: 5%;padding-right: 5%;overflow: hidden;margin-bottom: 1em;}
	.release li.p-li2 label{width: 24%;display: inline-block;float: left;font-size: 1em;color: #666;text-align: right;}
	.release li.p-li2 input{width: 71%;display: inline-block;float: left;border: 1px solid #ccc;font-size: 0.8em;height: 1.5em;padding-left: 2%;color: #333;}
	.release li.p-li2 .p-li2-content{width: 73%;float: left;overflow: hidden;border: 1px solid #ccc;}
	.release li.p-li2 .p-li2-content .input6{width: 58%;display: inline-block;float: left;border: none;font-size: 0.8em;height: 1.5em;padding-left: 2%;color: #333;line-height: 1.5em;}
	.release li.p-li2 .p-li2-content .p-a{float: left;width: 40%;display: inline-block;height: 1.5em;background-color: #ccc;line-height: 1.5em;font-size: 0.8em;color: #333;text-align: center;}
	.release li.p-li3{padding-left: 30%;padding-right: 30%;width: 40%;}
	.release li.p-li3 input{display: inline-block;width: 100%;height: 2em;line-height: 2em;color: #fff;background-color: #33ccff;border:none;letter-spacing: 1px;overflow: hidden;}
	.release li.p-li4{height: 3em;}
	.release li.p-li4 span{font-size: 0.8em;color: #666;}
	.release li.p-li4 label{display: inline-block;height: 3em;}
	.release li.p-li2 input::-webkit-input-placeholder{color: #ccc;}
	.release li.p-li2 input::-moz-placeholder{color: #ccc;}                  
	.release li.p-li2 input::-moz-placeholder{color: #ccc;}                
	.release li.p-li2 input::-ms-input-placeholder{color: #ccc;} 
	.release li.re-bottom{margin-bottom: 1em;}
	.input-text{display: inline-block;width:66%;font-size: 0.8em;height: 6em;border:1px solid #ccc;color: #333;padding-left: 2%;font-size: 0.8em;color: #333;padding-top: 0.2em;}
	/*底部信息*/
	.footer{width: 750px;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 50%;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;margin-left: -375px;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	body{position: relative;z-index: 0;}
	.m-login{width: 80%;position: absolute;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: absolute;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
}