*{margin:0;padding: 0;}
html{margin:0;}
body{font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;overflow-x: hidden;}
a{text-decoration: none;}
img{border: none;}
li{list-style: none;}