body{margin-bottom: 70px;}
/*手机端样式*/
@media screen and (min-width: 300px) and (max-width: 750px){
	/*返回信息开始*/
	.return{width: 95%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;padding-left: 5%;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;overflow: hidden;margin-bottom: 5px;}
	.return a.re-left{display: inline-block;height: 1.2em;float: left;}
	.return a.re-right{display: inline-block;float: right;font-size: 1em;color: #666;margin-right: 1em;}
	.return a img{height: 100%;width: auto;}
	.return span{font-size: 1.2em;color: #666;letter-spacing: 2px;}
	/*详细内容*/
	.h-detail{width: 100%;font-size: 16px;}
	.h-detail li{width: 90%;margin-left: 3%;margin-right: 3%;background-color: #fff;margin-bottom: 1px;padding-top: 1em;padding-bottom: 1em;border-bottom: 1px solid #ccc;padding-right: 2%;padding-left: 2%;}
	.h-detail li .h-p1{overflow: hidden;margin-bottom: 0.5em;letter-spacing: 2px;}
	.h-detail li .h-p1 .h-p1-left{display: inline-block;float: left;font-size: 1em;color: #333;}
	.h-detail li .h-p1 .h-p1-right{display: inline-block;float: right;font-size: 1em;color: #333;}
	.h-detail li .h-p2{margin-bottom: 0.5em;letter-spacing: 1px;}
	.h-detail li .h-p2 a{display: inline-block;font-size: 0.8em;color: #666;display: inline-block;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.h-detail li .h-p3{letter-spacing: 1px;}
	.h-detail li .h-p3 .h-p3-a1, .h-detail li .h-p3 .h-p3-a2{font-size: 0.8em;color: #666;display: inline-block;}
	.h-detail li .h-p3 a.h-left{margin-left: 10%;}
	.h-detail li .h-p3 .h-p3-a1{width: 60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.h-detail li .h-p3 .h-p3-a2{width: 30%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	/*招租信息*/
	.lease{width: 100%;font-size: 16px;}
	.lease ul{width: 90%;padding-left:5%;padding-right: 5%;padding-top: 1em;}
	.lease ul li{width: 100%;height: 1.5em;line-height: 1.5em;overflow: hidden;}
	.lease ul li span{display: inline-block;width: 30%;font-size: 0.8em;color: #333;letter-spacing: 1px;float: left;}
	.lease ul li a{display: inline-block;width: 70%;float: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;float: left;font-size: 0.8em;color: #666;}
	/*底部信息*/
	.footer{width: 100%;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 0;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px -2px 0.25em #f5f5f5;-webkit-box-shadow: 0px -2px 0.25em #f5f5f5;box-shadow: 0px -2px 0.25em #f5f5f5;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	body{position: relative;z-index: 0;}
	.m-login{width: 80%;position: absolute;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: absolute;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
}
@media screen and (min-width: 750px){
	.container{margin:0 auto;width: 750px;}	
	/*返回信息开始*/
	.return{width: 95%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;padding-left: 5%;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;overflow: hidden;margin-bottom: 5px;}
	.return a.re-left{display: inline-block;height: 1.2em;float: left;}
	.return a.re-right{display: inline-block;float: right;font-size: 1em;color: #666;margin-right: 1em;}
	.return a img{height: 100%;width: auto;}
	.return span{font-size: 1.2em;color: #666;letter-spacing: 2px;}
	/*详细内容*/
	.h-detail{width: 100%;font-size: 16px;}
	.h-detail li{width: 90%;margin-left: 3%;margin-right: 3%;background-color: #fff;margin-bottom: 1px;padding-top: 1em;padding-bottom: 1em;border-bottom: 1px solid #ccc;padding-right: 2%;padding-left: 2%;}
	.h-detail li .h-p1{overflow: hidden;margin-bottom: 0.5em;letter-spacing: 2px;}
	.h-detail li .h-p1 .h-p1-left{display: inline-block;float: left;font-size: 1em;color: #333;}
	.h-detail li .h-p1 .h-p1-right{display: inline-block;float: right;font-size: 1em;color: #333;}
	.h-detail li .h-p2{margin-bottom: 0.5em;letter-spacing: 1px;}
	.h-detail li .h-p2 a{display: inline-block;font-size: 0.8em;color: #666;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.h-detail li .h-p3{letter-spacing: 1px;}
	.h-detail li .h-p3 .h-p3-a1, .h-detail li .h-p3 .h-p3-a2{font-size: 0.8em;color: #666;display: inline-block;}
	.h-detail li .h-p3 a.h-left{margin-left: 10%;}
	.h-detail li .h-p3 .h-p3-a1{width: 60%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.h-detail li .h-p3 .h-p3-a2{width: 30%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	/*招租信息*/
	.lease{width: 100%;font-size: 16px;}
	.lease ul{width: 90%;padding-left:5%;padding-right: 5%;padding-top: 1em;}
	.lease ul li{width: 100%;height: 1.5em;line-height: 1.5em;overflow: hidden;}
	.lease ul li span{display: inline-block;width: 30%;font-size: 0.8em;color: #333;letter-spacing: 1px;float: left;}
	.lease ul li a{display: inline-block;width: 70%;float: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;float: left;font-size: 0.8em;color: #666;}
	/*底部信息*/
	.footer{width: 750px;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 50%;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;margin-left: -375px;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	body{position: relative;z-index: 0;}
	.m-login{width: 80%;position: absolute;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: absolute;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
}