body{margin-bottom: 70px;}
/*手机端样式*/
@media screen and (min-width: 300px) and (max-width: 750px){
	/*返回信息开始*/
	.header{width: 100%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;position: relative;z-index: 50;margin-bottom: 1em;}
	.header > a.he-content{font-size: 1em;color: #666;clear: left;letter-spacing: 2px;clear: right;width: 50%;padding-left: 25%;padding-right: 25%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;clear: left;}
	.header > a.he-code{display: inline-block;width: 1.2em;height: auto;height: 1.2em;right: 1em;position: absolute;z-index: 60;top: 1.2em;clear: left;}
	.header > a.he-code img{display: inline-block;width: 100%;height: auto;}
	.header > a.return{display: inline-block;height: 1em;position: absolute;z-index: 15;left: 5%;top: 1.2em;}
	.header > a.return > img{height: 100%;width: auto;}
	/*二维码*/
	.header .new-code{width: 50%;font-size: 16px;height: auto;position: absolute;z-index: 60;left: 0;top: 55px;background-color: #ccc;padding: 0.5em 25% 0;text-align: left;display: none;}
	.header .new-code > .new-img{display: block;margin-bottom: 0.5em;}
	.header .new-code > .new-img > img{display:inline-block;width: 100%;height: auto;}
	.header .new-code .new-text{color: #666;padding-left: 1em;font-size: 0.8em;display: inline-block;margin-bottom: 0.5em;}
	.header .new-code ul{width: 100%;overflow: hidden;padding-bottom: 0.5em;}
	.header .new-code ul li{float: left;width: 33%;height: auto;text-align: center;}
	.header .new-code ul li > a{display: inline-block;width: 100%;height: 100%;}
	.header .new-code ul li > a img{display: inline-block;width: 50%;height: auto;}
	/*底部信息*/
	.footer{width: 100%;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 0;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	.m-login{width: 80%;position: fixed;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: fixed;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
	/*已添加信息*/
	.added, .did{width: 100%;font-size: 16px;}
	.added p, .did p{font-size: 0.8em;color: #666;margin-bottom: 2em;padding-left: 0.8em;}
	.added ul{border-bottom: 1px solid #999;margin-bottom: 0.8em;}
	.added ul, .did ul{width: 100%;overflow: hidden;}
	.added ul li, .did ul li{width: 25%;float: left;text-align: center;margin-bottom: 1em;}
	.added ul li > a, .did ul li > a{display: inline-block;width: 100%;height: 100%;}
	.added ul li > a > img, .did ul li > a > img{display: inline-block;width: 60%;height: auto;}
}
@media screen and (min-width: 750px){
	.container{margin:0 auto;width: 750px;}	
	/*返回信息开始*/
	.header{width: 100%;border-bottom: 1px solid #e2e2e2;font-size: 16px;padding-top: 1.2em;padding-bottom: 1.2em;text-align: center;line-height: 1em; -moz-box-shadow: 0px 0px 0.25em #e2e2e2;-webkit-box-shadow: 0px 0px 0.25em #e2e2e2;box-shadow: 0px 0px 0.25em #e2e2e2;background-color: #fff;position: relative;z-index: 50;margin-bottom: 1em;}
	.header > a.he-content{font-size: 1em;color: #666;clear: left;letter-spacing: 2px;clear: right;width: 50%;padding-left: 25%;padding-right: 25%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;clear: left;}
	.header > a.he-code{display: inline-block;width: 1.2em;height: auto;height: 1.2em;right: 1em;position: absolute;z-index: 60;top: 1.2em;clear: left;}
	.header > a.he-code img{display: inline-block;width: 100%;height: auto;}
	.header > a.return{display: inline-block;height: 1em;position: absolute;z-index: 15;left: 5%;top: 1.2em;}
	.header > a.return > img{height: 100%;width: auto;}
	/*二维码*/
	.header .new-code{width: 375px;font-size: 16px;height: auto;position: absolute;z-index: 60;left: 50%;top: 55px;background-color: #ccc;padding: 0.5em 187px 0;text-align: left;margin-left: -375px;display: none;}
	.header .new-code > .new-img{display: block;margin-bottom: 0.5em;}
	.header .new-code > .new-img > img{display:inline-block;width: 100%;height: auto;}
	.header .new-code .new-text{color: #666;padding-left: 1em;font-size: 0.8em;display: inline-block;margin-bottom: 0.5em;}
	.header .new-code ul{width: 100%;overflow: hidden;padding-bottom: 0.5em;}
	.header .new-code ul li{float: left;width: 33%;height: auto;text-align: center;}
	.header .new-code ul li > a{display: inline-block;width: 100%;height: 100%;}
	.header .new-code ul li > a img{display: inline-block;width: 50%;height: auto;}
	/*底部信息*/
	.footer{width: 750px;font-size: 16px;padding-top: 0.4em;padding-bottom: 0.4em;border-top: 1px solid #ececec;position: fixed;z-index: 500;left: 50%;bottom: 0;overflow: hidden;background-color:#fff;-moz-box-shadow: 0px 0px 0.25em #f5f5f5;-webkit-box-shadow: 0px 0px 0.25em #f5f5f5;box-shadow: 0px 0px 0.25em #f5f5f5;margin-left: -375px;}
	.footer p{display: inline-block;float: left;width: 33%;text-align: center;}
	.footer p a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #00ccff;}
	.footer p a img.foo-img1{display: inline-block;width: 1.8em;height: auto;}
	.footer p a img.foo-bottom1{margin-bottom: 3px;}
	.footer p a img.foo-bottom2{margin-bottom: 1px;}
	/*民警登录*/
	body{position: relative;z-index: 0;}
	.m-login{width: 600px;position: absolute;z-index: 100;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 1em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;display: none;}
	.m-login p, .m-login .m-div1{width: 80%;overflow: hidden;padding-left: 10%;padding-right: 10%;margin-bottom: 0.8em;}
	.m-login .m-div1 .m-div2{width:73%;overflow: hidden;border: 1px solid #ccc;}
	.m-login .m-div1 .m-div2 .m-input2{display: inline-block;width: 56%;float: left;padding-left:2%;border: none;clear: right;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	.m-login .m-div1 .m-div2 .validation{display: inline-block;width: 42%;float: left;font-size: 0.6em;color: #333;text-align: center;background-color: #ccc;overflow: hidden;height: 24px;line-height: 24px;float: right;}
	.m-login p label, .m-login .m-div1 label{display: inline-block;width: 25%;float: left;text-align: left;font-size: 0.8em;color: #666;}
	.m-login p .m-input1{display: inline-block;width: 71%;float: left;border: 1px solid #ccc;padding-left:2%;height: 24px;line-height: 24px;font-size: 0.8em;color: #666;}
	/*民警登录新增样式0418*/
	.m-login .m-lo{display: block;width: 27%;margin-left: 30%;text-align: center;overflow: hidden;float: left;margin-right: 5%;font-size: 0.8em;color: #fff;background-color: #33ccff;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;}
	.m-login .ocancel{float: left;display: inline-block;font-size: 0.8em;color: #fff;background-color: #dd0000;padding-top: 0.2em;padding-bottom: 0.2em;letter-spacing: 2px;width: 27%;text-align: center;cursor: pointer;}
	/*报警*/
	.call{width: 50%;position: fixed;z-index: 110;background-color: #fff;top: 50%;left: 50%;transform: translate(-50%,-50%);padding: 2em 0 2em;font-size: 16px; -moz-box-shadow: 0px 0px 0.25em #c0c0c0;-webkit-box-shadow: 0px 0px 0.25em #c0c0c0;box-shadow: 0px 0px 0.25em #c0c0c0;text-align: center;display: none;}
	.call > a{display: inline-block;width: 100%;height: 100%;font-size: 0.8em;color: #666;}
	.call > a b{font-size: 1.5em;color: #f00;}
	/*已添加信息*/
	.added, .did{width: 100%;font-size: 16px;}
	.added p, .did p{font-size: 0.8em;color: #666;margin-bottom: 2em;padding-left: 0.8em;}
	.added ul, .did ul{width: 100%;overflow: hidden;}
	.added ul{border-bottom: 1px solid #999;margin-bottom: 0.8em;}
	.added ul li, .did ul li{width: 25%;float: left;text-align: center;margin-bottom: 1em;}
	.added ul li > a, .did ul li > a{display: inline-block;width: 100%;height: 100%;}
	.added ul li > a > img, .did ul li > a > img{display: inline-block;width: 60%;height: auto;}
}